{% extends "default.html" %}
{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/default-skin/default-skin.css" media="screen" title="no title" />
{% endblock %}
{% block js %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js"></script>
<script type="text/javascript" src="/js/photoswipe/init.js"></script>
{% endblock %}


{% block content %}
	<div class='container'>
    <div class="page-header">
      <h1>{{ band.name }}</h1>
    </div>
    <div class='row'>
      <div class="col-md-9" itemscope itemtype="http://schema.org/ImageGallery">
        {% include "_band_gallery.html" %}

        <div class="row">
          <div class="col-md-12">
            {% if band.audioPlayerEmbed %}
              {{ band.audioPlayerEmbed }}
            {% endif %}
            <hr />
          </div>
          <div class="col-md-12">
            {{ band.bio }}
          </div>
        </div>
        <div class="row">
          {% for press in band.press %}
            {% include "_press.html" %}
          {% endfor %}
        </div>
      </div>
      <div class='col-md-3 col-xs-12'>
        <div class='row'>
          <div class='col col-s-6 col-md-12'>
        		<h3>Releases</h3>
            {% for release in band.releases %}
              {% include "_release.html" %}
            {% endfor %}
          </div>
          <div class='col col-s-6 col-md-12'>
            <h3>Upcoming Shows</h3>
            {% for show in band.upcoming_shows %}
            {% include "_show.html" %}
            {% endfor %}
            <hr />
            {% include '_social.html' %}
            <hr />
            <a href='http://highdivekc.com'>
              <img class='img-responsive' src='images/highdiverecords_logo.svg' alt='High Dive Records' />
            </a>
          </div>
        </div>
      </div>
    </div>
	</div>
  {% include "_pswp.html" %}
{% endblock %}
