{% extends "default.html" %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3" style="text-align: center"><img src="http://high-dive.s3.amazonaws.com/flop.gif"></div>
    </div>
    <div class="row">
      <br/>
      <div class="col-md-6 col-md-offset-3" style="text-align: center">
        <a href="http://highdivekc.com">
          <img src="http://high-dive.s3.amazonaws.com/hdr_logo.jpeg">
        </a>
      </div>
    </div>

    {% if user and user.canAccessKeystone %}
    {% endif %}
  </div>
{% endblock %}
